In [1]:
get(wd)

ERROR: Error in get(wd): object 'wd' not found

In [2]:
getwd()

[1] "/Users/macos/Desktop/LDS7/Demo/Chapter_9"

In [7]:
# read file with each line
content = readLines('Du_lieu/license.txt')

In [8]:
print(content)

[1] "These data files are derived by splitting up the data set downloaded from:"
[2] "https://www.ontario.ca/data/ontario-public-schools-enrolment"
[3] "under the Open Government License - Ontario:"
[4] "https://www.ontario.ca/page/open-government-licence-ontario"

In [9]:
content1 = readLines('Du_lieu//bai_tho.txt', encoding = 'UTF-8')

In [10]:
print(content1)

[1] "Mùa xuân là Tết trồng cây"
[2] "Làm cho đất nước càng ngày càng xuân"
[3] ""

In [11]:
# dem so luong element trong vector ket qua: length()
length(content)

[1] 4

In [12]:
# Dem so ky tu cua tung element trong vector: nchar()
nchar(content)

[1] 74 60 44 59

In [13]:
# kiem tra kich co file: file.size('file directory')
file.size('Du_lieu/license.txt')

[1] 242

In [29]:
# read file with element (word): scan('file directory', 'r', sep =) 
content2 = scan('Du_lieu/license.txt', 'r',)

In [30]:
print(content2)

 [1] "These"
 [2] "data"
 [3] "files"
 [4] "are"
 [5] "derived"
 [6] "by"
 [7] "splitting"
 [8] "up"
 [9] "the"
[10] "data"
[11] "set"
[12] "downloaded"
[13] "from:"
[14] "https://www.ontario.ca/data/ontario-public-schools-enrolment"
[15] "under"
[16] "the"
[17] "Open"
[18] "Government"
[19] "License"
[20] "-"
[21] "Ontario:"
[22] "https://www.ontario.ca/page/open-government-licence-ontario"

In [31]:
# read file with table structure: read.table('file directory')
df = read.table("Du_lieu/Table0.txt")
df

  V1       V2 V3  V4 V5
1 Alex     25 177 57 F
2 Lilly    31 163 69 F
3 Mark     23 190 83 M
4 Oliver   52 179 75 M
5 Martha   76 163 70 F
6 Lucas    49 183 83 M
7 Caroline 26 164 53 F

In [32]:
class(df)

[1] "data.frame"

In [33]:
typeof(df)

[1] "list"

In [34]:
# ghi file text: write(content, file = file_name)
# filename = file(description = 'file directory', open = 'file_mode')
# file_mode: 'a': append, 'w': write

In [35]:
content3 = 'Hello and welcome'
file_name = file(description = 'Du_lieu_new/text.txt', open = 'a')
write(content3, file = file_name)

In [36]:
content4 = readLines('Du_lieu_new/text.txt')
content4

[1] "Hello and welcome"

In [37]:
content5 = matrix(c(1:9), nrow = 3, ncol = 3)
write(content5, file = 'Du_lieu_new/matrix.txt', ncolumns = 3, sep = ' ')

In [39]:
content6 = readLines('Du_lieu_new/matrix.txt')
print(content6)

[1] "1 2 3" "4 5 6" "7 8 9"

In [40]:
# write file with structure: write.table(content, file = file_directory,  sep)
write.table(df, file = 'Du_lieu_new/Table0.txt', sep='\t')

In [41]:
write.table(content5, file = 'Du_lieu_new/matrix_2.txt', sep='\t')

In [42]:
read.table('Du_lieu_new/matrix_2.txt')

  V1 V2 V3
1 1  4  7
2 2  5  8
3 3  6  9